<div>
  This is parent.
  <br>
  <!--Multi-slot content projection-->
  <app-child-a>
    <div>This is default content 1.</div>
    <p>This is a p tag.</p>
    <div class="age">Age: 3</div>
    <div name>My name is Joey.</div>
    <div>This is default content 2.</div>
  </app-child-a>

  <!-- conent element will be initialized even child-a don'at have ng-content element. Not good. Use conditional content projection-->
  <!-- <app-child-a>
    <span>example test</span>
  </app-child-a> -->

  <!--If your component needs to conditionally render content, or render content multiple times,
   you should configure that component to accept an <ng-template> element
  that contains the content you want to conditionally render.-->
  <!--Conditional content projection-->
  <app-child-b>
    <ng-template appExampleZippyComponent>Hi there!</ng-template>
  </app-child-b>
</div>
